.button {
    -fx-background-color: #0984E3;
    -fx-background-radius: 999px;
    -fx-padding: 23px 32px;
    -fx-gap-start-and-end: 12px;
    -fx-border-radius: 999px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/

    /*align-items: center;*/
    /*box-shadow: 0px 2px 4px rgba(136, 144, 194, 0.2), 0px 5px 15px rgba(37, 44, 97, 0.15);*/
}
.button:hover {
    -fx-background-color: #0064B1;
}
.font{
    -fx-font-size: 24px;
    -fx-font-weight: 600;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Montserrat';
}
.font:hover{
    -fx-text-fill: #0AFFF0;
}
